@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap");

$white: #fff;
$dark: #1f2041;
$blue: #2c5ff6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: $dark;
  font-size: 18px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img,
button {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  z-index: 3;
  &-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      font-weight: 600;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
  &-join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 3px 37px 0 rgba($color: #07153d, $alpha: 0.15);
      background: $white;
    }
    button {
      background: $blue;
      border-radius: 10px;
      font-weight: 500;
      color: $white;
      padding: 0.5rem 1rem;
      border: none;
      box-shadow: 0 3px 37px 0 rgba($color: $blue, $alpha: 0.3);
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 3rem;
  position: relative;
  .blur-1 {
    position: absolute;
    top: -150px;
    right: -75px;
    z-index: -1;
  }
  .blur-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-text {
    h1 {
      position: relative;
      font-size: 3.5rem;
      font-weight: 700;
      color: $dark;
      .h1-vec {
        position: absolute;
        bottom: -15px;
        right: 170px;
      }
    }
    h4 {
      padding: 2rem 0 1.5rem 0;
      font-size: 1rem;
      font-weight: 400;
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      button {
        background: $blue;
        border-radius: 10px;
        font-weight: 500;
        color: $white;
        padding: 0.5rem 1rem;
        border: 2px solid $blue;
        box-shadow: 0 3px 20px 0 rgba($color: $blue, $alpha: 0.3);
      }
      button:nth-child(2) {
        background: $white;
        color: $blue;
      }
    }
  }
}

.title-top {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  color: $dark;
  .h2-vec {
    width: 170px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 3rem;

  .card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 370px;
    height: 225px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    h3{
        font-weight: 700;
        font-size: 25px;
    }
    p{
        padding: 10px 0;
        font-size: 16px;
    }
    div{
        z-index: 2;
        button{
            background: $white;
            border: none;
            border-radius: 30px;
            font-weight: 600;
            font-size: 15px;
            padding: .25rem .5rem;
        }
    }
  }
  .card:nth-child(1){
    background: #FADFFC;
  }
  .card:nth-child(2){
    background: #D9FCF5;
  }
  .card:nth-child(3){
    background: #DFF0FD;
  }
}
