@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #1f2041;
  font-size: 18px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img,
button {
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
  z-index: 3;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-links li {
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.header-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header-join div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 37px 0 rgba(7, 21, 61, 0.15);
          box-shadow: 0 3px 37px 0 rgba(7, 21, 61, 0.15);
  background: #fff;
}

.header-join button {
  background: #2c5ff6;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  -webkit-box-shadow: 0 3px 37px 0 rgba(44, 95, 246, 0.3);
          box-shadow: 0 3px 37px 0 rgba(44, 95, 246, 0.3);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 3rem;
  position: relative;
}

.main .blur-1 {
  position: absolute;
  top: -150px;
  right: -75px;
  z-index: -1;
}

.main .blur-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.main .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-text h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 700;
  color: #1f2041;
}

.main-text h1 .h1-vec {
  position: absolute;
  bottom: -15px;
  right: 170px;
}

.main-text h4 {
  padding: 2rem 0 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.main-text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.main-text-button button {
  background: #2c5ff6;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 2px solid #2c5ff6;
  -webkit-box-shadow: 0 3px 20px 0 rgba(44, 95, 246, 0.3);
          box-shadow: 0 3px 20px 0 rgba(44, 95, 246, 0.3);
}

.main-text-button button:nth-child(2) {
  background: #fff;
  color: #2c5ff6;
}

.title-top {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2041;
}

.title-top .h2-vec {
  width: 170px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 3rem;
}

.section .card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 370px;
  height: 225px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .card h3 {
  font-weight: 700;
  font-size: 25px;
}

.section .card p {
  padding: 10px 0;
  font-size: 16px;
}

.section .card div {
  z-index: 2;
}

.section .card div button {
  background: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  padding: .25rem .5rem;
}

.section .card:nth-child(1) {
  background: #FADFFC;
}

.section .card:nth-child(2) {
  background: #D9FCF5;
}

.section .card:nth-child(3) {
  background: #DFF0FD;
}
/*# sourceMappingURL=style.css.map */